/* Tablets */
@media screen and (max-width: 1000px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav a:hover {
    border-bottom: none;
  }

  .btn-navbar {
    width: 41%;
    margin: auto;
  }

  .title-banner {
    padding: 30px;
    margin-top: 20px;
  }

  .card-custom {
    margin-top: 25px;
  }

  .img-custom {
    width: 25%;
  }

  .time-text-content,
  .time-text-content1 {
    padding-left: 28rem;
  }

  .service-konten {
    text-align: center;
    display: block;
  }

  .p-service {
    font-size: 15px;
  }
}

/* Smartphones */
@media screen and (max-width: 670px) {
  .btn-navbar {
    width: 75%;
  }

  .btn-login,
  .btn-signup {
    padding: 8px 25px;
    font-size: 15px;
  }

  .title-banner {
    padding: 20px;
    margin-top: 15px;
  }

  .title-banner h3 {
    font-size: 34px;
  }

  .title-banner p {
    font-size: 14px;
  }

  .time-text-content,
  .time-text-content1 {
    padding-left: 2rem;
  }
}
